html {
  font-family: sans-serif;
  font-size: 24px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#calculatorBody, #history, #display {
  border: 2px solid black;
  border-radius: 5px;
}

#calculatorBody {
  position: absolute;
  height: auto;
  width: 23vw;
  padding: 20px;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(202, 202, 202);
}

#clearHistory {
  position: fixed;
  cursor: pointer;
  font-size: 22px;
  right: 7%;
  padding-top: 5px;
  color: red;
  border: none;
  outline: none;
  background-color: white;
}
#clearHistory .tooltip {
  position: absolute;
  opacity: 0;
  font-size: 16px;
  text-align: center;
  width: 120px;
  left: 50%;
  padding: 0;
  bottom: 100%;
  margin-left: -70px;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  background-color: white;
}
#clearHistory:hover .tooltip {
  animation-name: tooltip;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes tooltip {
  90% {opacity: 0}
  100% {opacity: 1}
}

#history {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, minmax(1.8rem, 1rem));
  background-color: white;
  height: 9rem;
  width: 100%;
  margin-bottom: 20px;
  overflow-y: scroll;
}
.storedExpressions {
  padding: 10px;
}

#display {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: right;
  background-color: white;
  width: 100%;
  height: 3rem;
  margin-bottom: 20px;
}
#input, #expression {
  padding: 5px 10px;
}

#inputButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#button1 {grid-area: 4/1/4/1}
#button3 {grid-area: 4/3/4/3}
#button4 {grid-area: 3/1/3/1}
#button6 {grid-area: 3/3/3/3}
#button7 {grid-area: 2/1/2/1}
#button9 {grid-area: 2/3/2/3}

#del {grid-area: 1/1/1/1}
#posNeg {grid-area: 1/2/1/2}
#decimal {grid-area: 1/3/1/3}
#clear {grid-area: 1/4/1/4}
#multiply {grid-area: 2/4/2/4}
#divide {grid-area: 3/4/3/4}
#subtract {grid-area: 4/4/4/4}
#add {grid-area: 5/4/5/4}
#equal {
  grid-area: 5/2/5/4;
  background-color: rgb(0, 143, 247);
}

#equal:hover {
  background-color: rgb(0, 163, 267);
}

.buttons {
  border: 1px solid black;
  border-radius: 3px;
  font-size: inherit;
  padding: 5px;
  background-color: rgb(240, 240, 240);
}
.operationButtons {
  background-color: rgb(255, 138, 0);
}
.operationButtons:hover {
  background-color: rgb(285, 168, 30);
}
.numberButtons:hover {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 900px) {
  html {
    font-size: 34px;
  }
  #calculatorBody {
    margin: 0;
    top: 0;
    left: 0;
    transform: none;
    height: 99vh;
    width: 100vw;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  #clearHistory {
    position: fixed;
    font-size: 32px;
  }
  #history {
    width: 99.5vw;
    height: 28vh;
  }
  #display {
    width: 99.5vw;
  }
  #inputButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }
  .buttons {
    font-size: 44px;
    height: 10vh;
    width: 25vw;
    border-radius: 0px;
  }
  #equal {
    width: 50vw;
  }
}

@media (max-width: 1200px) {
  #calculatorBody {
    width: 70vw;
  }
  #clearHistory {right: 5%}
}
